<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JiraToReaPortal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JiraToReaPortal.Properties.Settings>
            <setting name="ReaUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ReaPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ReaRememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JiraUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="JiraAPIToken" serializeAs="String">
                <value />
            </setting>
            <setting name="JiraRememberMe" serializeAs="String">
                <value>False</value>
            </setting>
        </JiraToReaPortal.Properties.Settings>
    </userSettings>
</configuration>